.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}
#app-container {
    width: 500px;

    margin: 0 auto;
}
.App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.taskForm {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

input[type="text"] {
    color: #bababa; /* Couleur du texte */
    background-color: #0c003e; /* Couleur de fond */
    width: 80%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Ajoute une ombre */
    padding: 15px;
    border: 2px solid #3498db;
    border-radius: 5px; /* Bords arrondis */
    outline: none; /* Supprime la bordure bleue de mise au point par défaut */
}

input[type="text"]:focus {
    border-color: #c9e3e9; /* Change la couleur de la bordure au focus */
}

.taskItem label {
    display: flex;
    align-items: center;
    color: #000; /* Couleur du texte */
}

.taskItem input[type="checkbox"] {
    margin-right: 10px;
}

.taskItem input[type="checkbox"]:checked + label::before {
    background-color: #007bff; /* Couleur de fond du checkbox lorsqu'il est coché */
    border-color: #007bff; /* Couleur de la bordure du checkbox lorsqu'il est coché */
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Style de base pour la section des travailleurs */
section {
    padding: 20px;
    background-color: orange;
}

/* Style pour le titre "List Of Workers" */
h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

/* Style pour la liste ordonnée */
ol {
    list-style-type: none;
    padding: 0;
}

/* Style pour chaque élément de la liste */
li {
    margin-bottom: 5px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #333;
}

/* Style au survol de chaque élément de la liste */
li:hover {
    background-color: #e0e0e0;
}
